{%extends "layout.html"%}
{%block content%}
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  {% for ins1 in users%}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{ins1.name}}</td>
        <td>{{ins1.email}}</td>
        <td style="width:40%">{{ins1.address}}<br>{{ins1.zip_code}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock content%}
