{%extends "layout.html"%}
{%block content%}
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for chat in chats%}
    {%set user = User.query.get(chat.user1_id|int)%}
    <tr onclick="location.href='/agent/{{user.id}}/chat';" style="cursor:pointer;">
        <th scope="row">{{loop.index}}</th>
        <td>{{user.name}}</td>
        <td>{{chat.msg}}</td>
        <td style="width:40%">{{chat.date_created}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
{%endblock content%}
